@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
    font-family: roboto,sans-serif;

*/
header {
  width: 100%;
  height: 18vh;
  background-color: #E1D0E1;
  align-items: center;
}
header nav {
  height: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
header nav .redes-sociales {
  margin-right: 40px;
}
header nav .redes-sociales a img {
  width: 50px;
}
header nav .bar-btn {
  font-size: 20px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}
header nav ul {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 11.6875rem;
  background: #BA4D74;
  text-align: center;
  transition: all 0.5;
}
header nav ul li {
  list-style: none;
  display: none;
  line-height: 30px;
  margin: 50px 0px;
  transition: all 0.5;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
header .logo-img img {
  width: 6.25rem;
  display: block;
  margin: auto auto;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: #E3B0D5;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 45vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

body {
  background-color: #EEEEEE;
}

main .encabezado {
  margin: 20px 20px;
}
main .encabezado h1 {
  text-align: center;
  margin: 20px 10px;
}
main .encabezado h4 {
  text-align: center;
}
main .container-1 .cursos {
  margin: 20px 15px;
}
main .container-1 .cursos h2 {
  text-align: center;
}
main .container-1 .cursos .curso-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .cursos .curso-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
  font-size: 15px;
}
main .container-1 .cursos .curso-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .cursos .button-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
main .container-1 .cursos .button-container button {
  padding: 10px 10px;
}
main .container-1 .servicios {
  margin: 20px 15px;
}
main .container-1 .servicios h2 {
  text-align: center;
}
main .container-1 .servicios .servicio-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .servicios .servicio-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
  font-size: 15px;
}
main .container-1 .servicios .servicio-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .servicios .button-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
main .container-1 .servicios .button-container button {
  padding: 10px 10px;
}
main .container-nosotros {
  background-color: #CBCBCB;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
main .container-nosotros h2 {
  text-align: center;
  margin: 20px 0px;
}
main .container-nosotros .container-button-nosotros {
  margin-bottom: 20px;
}
main .container-nosotros .container-button-nosotros button {
  padding: 20px 20px;
  border-radius: 3px solid red;
}

footer {
  background-color: #BA4D74;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container-footer .redes-footer {
  display: inline-block;
  margin: 10px 0px;
}
footer .container-footer .redes-footer a img {
  padding: 0px 10px;
}
footer .container-footer nav {
  margin: 10px 0px;
}
footer .container-footer nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  list-style: none;
}
footer .container-footer nav ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container-footer .ubicacion {
  margin: 10px 0px;
}
footer .container-footer .ubicacion a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
