@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
    font-family: roboto,sans-serif;

*/
header {
  width: 100%;
  height: 12.125rem;
  background-color: #E1D0E1;
  align-items: center;
  position: relative;
  z-index: 100000;
}
header nav {
  height: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .redes-sociales {
  margin-left: 3.125rem;
}
header nav .redes-sociales a img {
  width: 2.5rem;
}
header nav .bar-btn {
  font-size: 1.875rem;
  color: black;
  margin-right: 1.25rem;
  cursor: pointer;
}
header nav ul {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 12.125rem;
  background: #BA4D74;
  text-align: center;
}
header nav ul li {
  list-style: none;
  display: none;
  line-height: 1.875rem;
  margin: 3.125rem 0rem;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
header .logo-img img {
  width: 6.25rem;
  display: block;
  margin: 0rem auto;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: #E3B0D5;
  transition: all 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
  transition: all 0.3s;
}

#check:checked ~ .nav-menu li {
  display: block;
}

body {
  background-color: #EEEEEE;
}

.index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12.125rem 1fr 8.5625rem;
}

.cursos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12.125rem 1fr 8.5625rem;
}

.servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12.125rem 1fr 8.5625rem;
}

.nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12.125rem 1fr 8.5625rem;
}

main .encabezado {
  margin: 1.25rem 1.25rem;
}
main .encabezado h1 {
  text-align: center;
  margin: 0rem 0rem;
  font-size: 1.5625rem;
}
main .encabezado h4 {
  font-weight: 200;
  padding-top: 0.3125rem;
  text-align: center;
  font-size: 0.9375rem;
}
main .container-1 .titulo_index h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
main .container-1 .cursos {
  padding: 0.625rem 0.625rem;
}
main .container-1 .cursos .curso-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
}
main .container-1 .cursos .curso-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
  font-size: 0.9375rem;
}
main .container-1 .cursos .curso-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
}
main .container-1 .button-container {
  margin: 1.25rem 0rem;
  text-align: center;
}
main .container-1 .button-container button {
  padding: 1.25rem 1.875rem;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
  background-color: #BA4D74;
  color: #fff;
  font-weight: bold;
  border: transparent;
}
main .container-1 .button-scale:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}
main .container-1 .h2-index-servicio h2 {
  text-align: center;
  padding-top: 1.25rem;
  background-color: #BA4D74;
  color: #fff;
}
main .container-1 .servicios {
  background-color: #BA4D74;
  padding: 0.625rem 0.625rem;
  color: #fff;
}
main .container-1 .servicios .servicio-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
}
main .container-1 .servicios .servicio-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
  font-size: 0.9375rem;
}
main .container-1 .servicios .servicio-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem 0rem;
  gap: 0.625rem;
}
main .container-1 .button-container-servicio {
  background-color: #BA4D74;
  text-align: center;
  padding-bottom: 1.25rem;
}
main .container-1 .button-container-servicio button {
  padding: 1.25rem 1.875rem;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
  background-color: #BA4D74;
  color: #fff;
  font-weight: bold;
  border: transparent;
}
main .container-nosotros {
  background-color: #CBCBCB;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}
main .container-nosotros h2 {
  text-align: center;
  margin: 1.25rem 0rem;
}
main .container-nosotros .container-button-nosotros {
  margin-bottom: 1.25rem;
}
main .container-nosotros .container-button-nosotros button {
  padding: 1.25rem 2.5rem;
  border-radius: 1.875rem;
  box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
  background-color: #BA4D74;
  color: #fff;
  font-weight: bold;
  border: transparent;
}
main .container-nosotros .button-scale:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

body main .titulo {
  text-align: center;
}
body main .section_cursos {
  display: flex;
  flex-direction: column;
  margin: 2.3563rem 0rem;
}
body main .section_cursos .container-main {
  position: relative;
  width: 18.0625rem;
  height: 25rem;
  margin: 1.25rem auto;
}
body main .section_cursos .container-main .caja-principal {
  background-color: #E1D0E1;
  width: 18.0625rem;
  height: 25rem;
  position: absolute;
  border-radius: 3.875rem;
}
body main .section_cursos .container-main .caja-secundaria {
  background-color: #BA4D74;
  width: 14.6875rem;
  height: 18.75rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body main .section_cursos .container-main .container-curso {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  text-align: center;
  margin: 0.625rem 1.875rem;
  gap: 0.625rem;
}
body main .section_cursos .container-main .container-curso .button-cards {
  margin: 0.4375rem 0rem 0.3125rem 0rem;
  text-align: center;
}
body main .section_cursos .container-main .container-curso .button-cards button {
  padding: 0.8125rem 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
  background-color: #E1D0E1;
  color: #BA4D74;
  font-weight: bold;
  border: transparent;
}
body main .section_cursos .container-main .container-curso .button-cards button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

body main .titulo {
  text-align: center;
  padding-top: 2.5rem;
}
body main .section_servicios {
  display: flex;
  flex-direction: column;
}
body main .section_servicios .container-main {
  position: relative;
  width: 18.0625rem;
  height: 24.25rem;
  margin: 1.25rem auto;
}
body main .section_servicios .container-main .caja-principal {
  background-color: #BA4D74;
  width: 18.0625rem;
  height: 24.25rem;
  position: absolute;
  border-radius: 1.25rem;
}
body main .section_servicios .container-main .caja-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
}
body main .section_servicios .container-main .caja-flex .foto-servicio {
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  width: 18.0625rem;
  height: 9.8125rem;
}
body main .section_servicios .container-main .caja-flex .foto-servicio img {
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body main .section_servicios .container-main .caja-flex .texto-servicio {
  color: white;
  text-align: center;
  top: 11.25rem;
  padding: 1.25rem 1.25rem;
}
body main .section_servicios .container-main .caja-flex .button-cards {
  margin: 0.4375rem 0rem 0.3125rem 0rem;
  text-align: center;
}
body main .section_servicios .container-main .caja-flex .button-cards button {
  padding: 0.8125rem 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
  background-color: #E1D0E1;
  color: #BA4D74;
  font-weight: bold;
  border: transparent;
}
body main .section_servicios .container-main .caja-flex .button-cards button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

body main .titulo_nosotros {
  text-align: center;
  margin: 1.25rem 0rem;
}
body main .container_nosotros {
  text-align: center;
}
body main .container_nosotros img {
  margin-bottom: 1.25rem;
}
body main .container_nosotros p {
  margin-bottom: 1.25rem;
  padding: 0rem 1.25rem;
}

footer {
  background-color: #BA4D74;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container-footer .redes-footer {
  display: inline-block;
  margin: 0.625rem 0rem;
}
footer .container-footer .redes-footer a img {
  padding: 0rem 0.625rem;
}
footer .container-footer nav {
  margin: 0.625rem 0rem;
}
footer .container-footer nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: center;
  list-style: none;
}
footer .container-footer nav ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container-footer .ubicacion {
  margin: 0.625rem 0rem;
}
footer .container-footer .ubicacion a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body main .section_cursos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main .section_servicios {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 64rem) {
  body header nav {
    height: 6.25rem;
    align-items: center;
  }
  body header nav .redes-sociales {
    display: flex;
  }
  body header nav .bar-btn {
    display: none;
  }
  body header nav .nav-menu {
    position: relative;
    height: 6.25rem;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 1.25rem;
  }
  body header nav .nav-menu li {
    display: inline-block;
    line-height: 6.25rem;
    margin: 0;
    transition: none;
  }
  body header nav .nav-menu li a {
    font-size: 1.25rem;
    padding: 0rem 0.625rem;
  }
  body main .container-1 .cursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
  }
  body main .container-1 .cursos .curso-1 {
    flex-direction: column;
    padding: 0rem 3.125rem;
  }
  body main .container-1 .cursos .curso-2 {
    flex-direction: column;
    padding: 0rem 3.125rem;
  }
  body main .container-1 .cursos .curso-3 {
    flex-direction: column;
    padding: 0rem 3.125rem;
  }
  body main .container-1 .servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
  }
  body main .container-1 .servicios .servicio-1 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-1 .texto-servicio {
    padding: 0rem 3.125rem;
  }
  body main .container-1 .servicios .servicio-2 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-2 .texto-servicio {
    padding: 0rem 3.125rem;
  }
  body main .container-1 .servicios .servicio-3 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-3 .texto-servicio {
    padding: 0rem 3.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
