@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
    font-family: roboto,sans-serif;

*/
header {
  width: 100%;
  height: 12.125rem;
  background-color: #E1D0E1;
  align-items: center;
  position: relative;
  z-index: 100000;
}
header nav {
  height: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .redes-sociales {
  margin-left: 50px;
}
header nav .redes-sociales a img {
  width: 40px;
}
header nav .bar-btn {
  font-size: 30px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}
header nav ul {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 12.125rem;
  background: #BA4D74;
  text-align: center;
  transition: all 1s;
}
header nav ul li {
  list-style: none;
  display: none;
  line-height: 30px;
  margin: 50px 0px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
header .logo-img img {
  width: 6.25rem;
  display: block;
  margin: 0px auto;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: #E3B0D5;
  transition: all 0.5s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
  transition: all 0.3s;
}

#check:checked ~ .nav-menu li {
  display: block;
}

body {
  background-color: #EEEEEE;
}

.index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12.125rem 1fr 8.5625rem;
}

main .encabezado {
  margin: 20px 20px;
}
main .encabezado h1 {
  text-align: center;
  margin: 0px 0px;
  font-size: 25px;
}
main .encabezado h4 {
  font-weight: 200;
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
}
main .container-1 h2 {
  background-color: #BA4D74;
  text-align: center;
  color: #fff;
}
main .container-1 .cursos {
  margin: 20px 15px;
}
main .container-1 .cursos .curso-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .cursos .curso-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
  font-size: 15px;
}
main .container-1 .cursos .curso-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .button-container {
  margin: 20px 0px;
  text-align: center;
}
main .container-1 .button-container button {
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 2px 1px 15px 0px black;
  background-color: #BA4D74;
  color: #fff;
  font-weight: bold;
  border: transparent;
}
main .container-1 .servicios {
  margin: 20px 15px;
}
main .container-1 .servicios h2 {
  text-align: center;
}
main .container-1 .servicios .servicio-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-1 .servicios .servicio-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
  font-size: 15px;
}
main .container-1 .servicios .servicio-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
}
main .container-nosotros {
  background-color: #CBCBCB;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
main .container-nosotros h2 {
  text-align: center;
  margin: 20px 0px;
}
main .container-nosotros .container-button-nosotros {
  margin-bottom: 20px;
}
main .container-nosotros .container-button-nosotros button {
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 2px 1px 15px 0px black;
  background-color: #BA4D74;
  color: #fff;
  font-weight: bold;
  border: transparent;
}

body main .titulo {
  text-align: center;
}
body main .section_cursos {
  display: flex;
  flex-direction: column;
}
body main .section_cursos .container-main {
  position: relative;
  width: 289px;
  height: 388px;
  margin: 50px auto;
}
body main .section_cursos .container-main .caja-principal {
  background-color: #E1D0E1;
  width: 289px;
  height: 388px;
  position: absolute;
  border-radius: 62px;
}
body main .section_cursos .container-main .caja-secundaria {
  background-color: #BA4D74;
  width: 235px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body main .section_cursos .container-main .container-curso {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  text-align: center;
  margin: 10px 30px;
  gap: 10px;
}
body main .section_cursos .container-main .container-curso .button-cards button {
  padding: 5px 10px;
}

body main .titulo {
  text-align: center;
  padding-top: 40px;
}
body main .section_servicios {
  display: flex;
  flex-direction: column;
}
body main .section_servicios .container-main {
  position: relative;
  width: 289px;
  height: 388px;
  margin: 50px auto;
}
body main .section_servicios .container-main .caja-principal {
  background-color: #BA4D74;
  width: 289px;
  height: 388px;
  position: absolute;
  border-radius: 20px;
}
body main .section_servicios .container-main .caja-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
}
body main .section_servicios .container-main .caja-flex .foto-servicio {
  border-radius: 20px 20px 0px 0px;
}
body main .section_servicios .container-main .caja-flex .texto-servicio {
  color: white;
  text-align: center;
  top: 180px;
  padding: 20px 20px;
}
body main .section_servicios .container-main .caja-flex .button-cards {
  margin: 10px auto;
}
body main .section_servicios .container-main .caja-flex .button-cards button {
  padding: 10px;
}

body main .titulo_nosotros {
  text-align: center;
  margin: 20px 0px;
}
body main .container_nosotros {
  text-align: center;
}
body main .container_nosotros img {
  margin-bottom: 20px;
}
body main .container_nosotros p {
  margin-bottom: 20px;
  padding: 0px 20px;
}

footer {
  background-color: #BA4D74;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .container-footer .redes-footer {
  display: inline-block;
  margin: 10px 0px;
}
footer .container-footer .redes-footer a img {
  padding: 0px 10px;
}
footer .container-footer nav {
  margin: 10px 0px;
}
footer .container-footer nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  list-style: none;
}
footer .container-footer nav ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container-footer .ubicacion {
  margin: 10px 0px;
}
footer .container-footer .ubicacion a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body main .container-1 .titulo_index {
    margin: 0px 0px 40px 20px;
  }
  body main .section_cursos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main .section_servicios {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  body header nav {
    height: 100px;
    align-items: center;
  }
  body header nav .redes-sociales {
    display: flex;
  }
  body header nav .bar-btn {
    display: none;
  }
  body header nav .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 20px;
  }
  body header nav .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0;
    transition: none;
  }
  body header nav .nav-menu li a {
    font-size: 20px;
    padding: 0px 10px;
  }
  body main .container-1 .cursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 40px;
    gap: 20px;
  }
  body main .container-1 .cursos .curso-1 {
    flex-direction: column;
    padding: 0px 20px;
  }
  body main .container-1 .cursos .curso-2 {
    flex-direction: column;
    padding: 0px 100px;
  }
  body main .container-1 .cursos .curso-3 {
    flex-direction: column;
    padding: 0px 20px;
  }
  body main .container-1 .servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  body main .container-1 .servicios .servicio-1 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-1 .texto-servicio {
    padding: 0px 50px;
  }
  body main .container-1 .servicios .servicio-2 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-2 .texto-servicio {
    padding: 0px 50px;
  }
  body main .container-1 .servicios .servicio-3 {
    flex-direction: column;
  }
  body main .container-1 .servicios .servicio-3 .texto-servicio {
    padding: 0px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
