$bg-sitio: #fcfafa;
$bg-footer: #f4d8ca;
$bg-header: #e0cfc7;
$bg-secundario: #e3deea;
$bg-terciario: #cfd0c4;
$color-botones: #d0b7ca;
$color-textosecundario: #5d5d5d;
$tipografia-roboto: 'Roboto', sans-serif;
$color-texto: #000
