@media screen and (min-width: 64rem) {
  body{
    header{
      nav{
        height: 8.25rem;
        align-items: center;
        flex-direction: column-reverse;
        .redes-sociales{
          margin-left: 0rem;
        }
        .bar-btn{
          display: none;
        }
        .nav-menu{
          position: relative;
          height: 6.25rem;
          top: 0;
          background: none;
          transition: none;
          text-align: right;
          margin-right: 1.25rem;
          li{
            display: inline-block;
            line-height: 6.25rem;
            margin: 0;
            transition: none;
            a{
              font-size: 1.25rem;
              padding: 0rem .625rem;
            }
          }
        }
      }
    }
    main{
      .container-1{
        .cursos{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 1.25rem;
          .curso-1{
            flex-direction: column;
            padding: 0rem 3.125rem;
          }
          .curso-2{
            flex-direction: column;
            padding: 0rem 3.125rem;
          }
          .curso-3{
            flex-direction: column;
            padding: 0rem 3.125rem;
          }
        }
        .servicios{
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
          gap: 1.25rem;
          .servicio-1{
            flex-direction: column;
            .texto-servicio{
              padding: 0rem 3.125rem;
            }
          }
          .servicio-2{
            flex-direction: column;
            .texto-servicio{
              padding: 0rem 3.125rem;
            }
          }
          .servicio-3{
            flex-direction: column;
            .texto-servicio{
              padding: 0rem 3.125rem;
            }
          }
        }
      }
    }
  }
}