header{
  width: 100%;
  height: 12.125rem;
  background-color: $bg-header;
  align-items: center;
  position: relative;
  z-index: 100000;
  nav{
    height: 6.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .redes-sociales{
      margin-left: 50px;
      a{
        img{
          width: 40px;
        }
      }
    }
    .bar-btn{
      font-size: 30px;
      color: black;
      margin-right: 20px;
      cursor: pointer;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 0vh;
      top: 12.125rem;
      background: $bg-footer;
      text-align: center;
      transition: all 1s;
      li{
        list-style: none;
        display: none;
        line-height: 30px;
        margin: 50px 0px;
        a{
          text-decoration: none;
          color: $color-texto;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
  .logo-img{
    img{
      width: 6.25rem;
      display: block;
      margin: 0px auto;
    }
  }
}

.nav-menu li a.active, .nav-menu li a:hover{
  color: $color-botones;
  transition: all 0.5s;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
  transition: all 0.3s;
}

#check:checked ~ .nav-menu li{
  display: block;
}