main{
  .encabezado{
    margin: 1.25rem 1.25rem;
    h1{
      text-align: center;
      margin: 0rem 0rem;
      font-size: 1.5625rem;
    }
    h4{
      font-weight: 200;
      padding-top: .3125rem;
      text-align: center;
      font-size: .9375rem;
    }
  }
  .container-1{
    .titulo_index{
      h2{
        text-align: center;
      }
    }
    .cursos-container{
      padding: 0rem 0.625rem 0.625rem 0.625rem;
      .curso-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.25rem 0rem 1.25rem 0rem;
        gap: .625rem;
      }
      .curso-2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 1.25rem 0rem;
        gap: .625rem;
        font-size: .9375rem;
      }
      .curso-3{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.25rem 0rem;
        gap: .625rem;
      }
    }
    .button-container{
      margin: 1.25rem 0rem;
      text-align: center;
      button{
        padding: 1.25rem 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
        background-color: $bg-header;
        font-weight: bold;
        border: transparent;
        color: $color-texto
      }
    }
    .button-scale:hover{
      transform: scale(1.3);
      transition: all 0.5s;
    }
    .h2-index-servicio{
      h2{
        text-align: center;
        padding-top: 1.25rem;
        background-color: $bg-footer;
        color: $color-texto;
      }
    }
    .servicios-container{
      background-color: $bg-footer;
      padding: .625rem .625rem;
      color: $color-texto;
      .servicio-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.25rem 0rem;
        gap: .625rem;
      }
      .servicio-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.25rem 0rem;
        gap: .625rem;
        font-size: .9375rem;
      }
      .servicio-3{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.25rem 0rem;
        gap: 0.625rem;
      }
      .texto-servicio{
        p{
          color: $color-textosecundario
        }
      }
    }
    .button-container-servicio{
      background-color: $bg-footer;
      text-align: center;
      padding-bottom: 1.25rem;
      button{
        padding: 1.25rem 1.875rem;
        border-radius: 1.25rem;
        box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
        background-color: $bg-header;
        color: $color-texto;
        font-weight: bold;
        border: transparent;
      }
    }
  }
  .container-nosotros{
    background-color: $bg-sitio;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    h2{
      text-align: center;
      margin: 1.25rem 0rem;
    }
    .container-button-nosotros{
      margin-bottom: 1.25rem;
      button{
        padding: 1.25rem 2.5rem;
        border-radius: 1.875rem;
        box-shadow: 0.125rem 0.0625rem 0.9375rem 0rem black;
        background-color: $bg-header;
        color: $color-texto;
        font-weight: bold;
        border: transparent;
      }
    }
    .button-scale:hover{
      transform: scale(1.3);
      transition: all 0.5s;
    }
  }
}