body{
  main{
    .titulo{
      text-align: center;
    }
    .section_cursos{
      display: flex;
      flex-direction: column;
      margin: 2.3563rem 0rem;
      .container-main{
        position: relative;
        width: 18.0625rem;
        height: 25rem;
        margin: 1.25rem auto;
        .caja-principal{
          background-color: $bg-header;
          width: 18.0625rem;
          height: 25rem;
          position: absolute;
          border-radius: 3.875rem;
        }
        .caja-secundaria{
          background-color: $bg-footer;
          width: 14.6875rem;
          height: 18.75rem;
          position: absolute;
          top: 2.5rem;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        .container-curso{
          display: flex;
          flex-direction: column;
          position: absolute;
          color:white;
          text-align: center;
          margin: .625rem 1.875rem;
          gap: .625rem;
          .button-cards{
            margin: .4375rem 0rem .3125rem 0rem;
            text-align: center;
            button{
              padding: .8125rem 2.5rem;
              border-radius: .625rem;
              box-shadow: .125rem .0625rem .9375rem 0rem black;
              background-color: $bg-header;
              color: $bg-footer;
              font-weight: bold;
              border: transparent;
            }
            button:hover{
              transform: scale(1.1);
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}