body{
  main{
    .titulo_nosotros{
      text-align: center;
      margin: 1.25rem 0rem;
    }
    .container_nosotros{
      text-align: center;
      img{
        margin-bottom: 1.25rem;
      }
      p{
        margin-bottom: 1.25rem;
        padding: 0rem 1.25rem;
      }
    }
  }
}