.servicios-corporales{
  main{
    margin-bottom: 1.25rem;
    .boton-volver{
      margin: 1.625rem 0.625rem 0rem 1rem;
      button{
        padding: 0.5rem 2rem;
        border-radius: 0.625rem;
        background-color: white;
        border-color: $bg-header;
      }
    }
    .titulo_tratamientos-corporales{
      text-align: center;
      padding-top: 2rem;
      font-size: 0.8rem;
    }
    .section_servicios_tratamientos-corporales{
      display: flex;
      flex-direction: column;
      .container-main_tratamientos-corporales{
        position: relative;
        width: 18.0625rem;
        height: 24.25rem;
        margin: 2rem auto;
        .caja-principal_tratamientos-corporales{
          background-color: $bg-footer;
          width: 18.0625rem;
          height: 26.25rem;
          position: absolute;
          border-radius: 1.25rem;
        }
        .caja-flex_tratamientos-corporales{
          position: absolute;
          display: flex;
          flex-direction: column;
          .foto-servicio_tratamientos-corporales{
            border-radius: 1.25rem 1.25rem 0rem 0rem;
            width: 18.0625rem;
            height: 9.8125rem;
            img{
              border-radius: 1.25rem 1.25rem 0rem 0rem;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .texto-servicio_tratamientos-corporales{
            color: $color-texto;
            text-align:center;
            top:11.25rem;
            padding: 1.25rem 1rem;
            h3{
              margin-bottom: .9375rem;
            }
          }
          .button-cards_tratamientos-corporales{
            margin: 0.4375rem 0rem .3125rem 0rem;
            text-align: center;
            button{
              padding: 0.8125rem 2.5rem;
              border-radius: 0.625rem;
              box-shadow: .125rem .0625rem .9375rem 0rem black;
              background-color: $bg-header;
              color: $color-texto;
              font-weight: bold;
              border: transparent;
            }
            button:hover{
              transform: scale(1.1);
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}