body{
  main{
    .titulo_nosotros{
      text-align: center;
      margin: 20px 0px;
    }
    .container_nosotros{
      text-align: center;
      img{
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 20px;
        padding: 0px 20px;
      }
    }
  }
}